
/* colores: */

:root {
  --black: #000000;
  --dark-brown: #630000;
  --brown: #7c572a;
  --makeup: #D8B6A4;
  --grey: #9b947f;
  --beige: hsl(60, 27%, 72%);
  --green: hsl(81, 55%, 78%);
  --blue: #40e2a7;
  --paleblue: #7bebc5;
  --bone: #EEEBDD;
  
}

/* Fuentes linkadas (tambien en el html en el head): */

body {
  font-family: 'Open Sans', sans-serif;
}


* {  box-sizing: border-box;
  text-align: center;
 
}

/* Página Index: */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bone); */
}

.heading .mainImage {
  width: 100vw;
  height: 45vw;
  
}

.heading .text {
  margin: 5px;
}

.roundedImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* background-color: var(--bone); */
}

.roundedBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.rounded {
  height: 20vh;
  width: 20vh;
  margin: 1.5rem;
  border-radius: 50%; 

}

.roundedBox p{
  margin-inline: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 font-size: 2rem;
 
}


/* Página Empresa: */

.headingEmpresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bone); */
}

.headingEmpresa .mainImageEmpresa {
  width: 95vw;
  height: 45vh;
  border-radius: 5px;
}

.headingEmpresa .text {
  margin: 5px;
  text-align:justify;
}

.squaredImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* background-color: var(--bone); */
}

.squaredBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.squared {
  height: 20vh;
  width: 20vh;
  margin: 1.5rem;
  border-radius: 50%; 
}

.squaredBox p{
  margin-inline: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 font-size: 2rem;
 
}

.moreInfoEmpresa {
text-align: left;

} 

.moreInfoEmpresa div p{
  text-align:justify;
  margin-inline: 1.5rem;
}



/* Página RutasPage: */

.BrowserCardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.ruta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 5px;
  background-color: var(--brown);
  color: var(--bone);
  padding: 10px;
  border-radius: 10px;
  padding: 10px; 

}

.ruta img {
  width: 80%;
  border-radius: 10px;
}

.ruta button {
  margin-top: 1rem;
  background-color: var(--dark-brown); 
  color: var(--bone); 
}

.ruta button:hover {
  background-color: var(--makeup);
}


/* Página Reservas: */

.reservas form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: fit-content;
  margin: auto;
  background-color: var(--makeup);
  color: var(--black);
  padding: 10px;
  border-radius: 10px;
  padding: 10px; 
}

.reservas form input {
  width: 80vw;
  height: 2rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.reservas form textarea {
  width: 80vw;
  height: 6rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.reservas button {
  margin-top: 1rem;
  background-color: var(--dark-brown); 
  color: var(--bone); 
}

.reservas button:hover {
  background-color: var(--makeup);
}

/* Pagina error */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--makeup);
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}


/* Botones: */

button {
  border-radius: 5px;
  background-color: var(--makeup);
  color: white;
  border: solid 1px var(--dark-brown);
  font-size: large;  
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  background-color: var(--dark-brown);
} 

/* Navbar: */

.navbar {
  background-color: var(--dark-brown);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}


.active {
  background-color: var(--makeup);
  border-radius: 5px;  
}

.navbar a:hover {
  width: 75%;
  border-bottom: var(--dark-brown) solid 4px;
}


/* Header: */

.header {
  height: 100px;
  background-color: var(--black);
  color: white;
  margin: 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Página de Login (Entrar): */

.logincomponent,
.registercomponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loginform h3,
.registercomponent h3 {
  margin-top: 0px;
  margin-left: 10px;
  text-align: center;
}

.loginform > form div {
  margin-top: 25px;
  margin-left: 10px;
}

.loginform input {
  display: block;
  border: solid 1px grey;
  border-radius: 5px;
  margin-top: 5px;
  height: 25px;
  width: 200px;
}

.newaccount {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--black);
  color: white;
  
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;  
}

.loginform form,
.registercomponent form {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
    margin-top: 25px;  

}

.registercomponent,
.registercomponent form{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.registercomponent input {
  display: block;
  border: solid 1px grey;
  border-radius: 5px;
  margin-top: 5px;
  height: 25px;
  width: 200px;
}

.registercomponent form button {
  margin-top: 20px;
  width: 120px;
}





/* Footer: */

.footer {
  background-color: var(--black);
  color: white ;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;  
  
}

.pagecontainer {
  position: relative;
  min-height: 100vh;
}

.contentwrap {
  padding-bottom: 75px; 
  /* background-color: var(--bone); */
}



/* Media query tablet */

@media only screen and (min-width: 640px) { 

/*   .logincomponent {
    flex-direction: row;
  } */
  
  .navlinks {
    display: inline;    
  }

  .hamburger {
    display: none;
  }


}


/* Media query escritorio */

@media only screen and (min-width: 1024px) { 

  /* Pagina Inicio: */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading .mainImage {
  width: 100vw;
  height: 400px;
  
}

.heading .text {
  margin: 5px;
}

.roundedImages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
 }

.rounded {
  height: 30vh;
  width: 30vh;
  margin: 1.5rem;
  border-radius: 50%; 

}

.roundedBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.roundedBox p{
  margin-left: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 
}

/* .BrowserCardStyle {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */


/* Pagina Empresa: */

.headingEmpresa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: 20vw;
}

.headingEmpresa .mainImageEmpresa {
  width: 50%;
  height: 800px;
  margin-top: 3rem;
  border-radius: 5px;  
}

.headingEmpresa .text {

  width: 50%;
  margin: 2rem;
  
  text-align: left;
}

.headingEmpresa .text h2 {  
  margin-bottom: 5rem; 
}

.headingEmpresa .text span {  
  line-height: 3rem;
}

.squaredImages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
 }

.squared {
  height: 30vh;
  width: 30vh;
  margin: 1.5rem;
  border-radius: 20px; 
}

.squaredBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.squaredBox p{
  margin-left: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 
}

.moreInfoEmpresa div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.moreInfoEmpresa div p {
  width: 50%;
}

/* Página reservas: */

.reservas form input {
  width: 40vw;
  height: 2rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.reservas form textarea {
  width: 40vw;
  height: 6rem;
  margin-block: 1rem;
  border-radius: 5px;
}




}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */