
/* colores: */

:root {
  --black: #000000;
  --dark-brown: #630000;
  --makeup: #D8B6A4;
  --sand: #c2b280;
  --beige: #F5F5DC;
  --bone: #EEEBDD;
  
}

/* Fuentes linkadas (tambien en el html en el head): */

body {
  font-family: 'Open Sans', sans-serif;
}


* {  box-sizing: border-box;
 
}

/* Botones: */

button {
  border-radius: 5px;
  background-color: var(--makeup);
  color: var(--bone);
  border: solid 1px var(--dark-brown);
  font-size: large;  
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  background-color: var(--dark-brown);
} 

/* Estilos para la navbar: */

.navbar {
  background-color: var(--dark-brown);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a {
  color: var(--bone);
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.navbar .burger{                       /*  NO FUNCIONA, NO APARECE EN TAMAÑOS PEQUEÑOS */
  color: var(--bone);
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.navbarmenu {
  display: none;
}

.active {
  background-color: var(--makeup);
  border-radius: 5px;  
}

.navbar a:hover {
  width: 75%;
  border-bottom: var(--dark-brown) solid 4px;
}


/* estilos para el header: */

.header {
  height: 100px;
  background-color: var(--black);
  color: var(--bone);
  margin: 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* estilos para la pagina de login: */

.logincomponent,
.registercomponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loginform h3,
.registercomponent h3 {
  margin-top: 0px;
  margin-left: 10px;
  text-align: center;
}

.loginform > form div {
  margin-top: 25px;
  margin-left: 10px;
}

.loginform input {
  display: block;
  border: solid 1px grey;
  border-radius: 5px;
  margin-top: 5px;
  height: 25px;
  width: 200px;
}

.newaccount {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--black);
  color: var(--bone);
  
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;  
}

.loginform form,
.registercomponent form {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
    margin-top: 25px;  

}

.registercomponent,
.registercomponent form{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.registercomponent input {
  display: block;
  border: solid 1px grey;
  border-radius: 5px;
  margin-top: 5px;
  height: 25px;
  width: 200px;
}

.registercomponent form button {
  margin-top: 20px;
  width: 120px;
}


/* Pagina empresa */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading .mainImage {
  width: 100vw;
  height: 300px;
  
}

.heading .text {
  margin: 5px;
}

.roundedImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roundedBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rounded {
  height: 15vh;
  width: 15vh;
  margin: 1.5rem;
  border-radius: 50%; 

}

.roundedBox p{
  margin-left: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 
}




/* Pagina error */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--makeup);
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}



/* Estilos para el footer: */

.footer {
  background-color: var(--black);
  color: var(--bone);
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  
  
}


.pagecontainer {
  position: relative;
  min-height: 100vh;
}

.contentwrap {
  padding-bottom: 75px; 
}



/* Media query tablet */

@media only screen and (min-width: 640px) { 

/*   .logincomponent {
    flex-direction: row;
  } */
  
  .navlinks {
    display: inline;    
  }

  .hamburger {
    display: none;
  }

  /* Pagina empresa */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading .mainImage {
  width: 100vw;
  height: 300px;
  
}

.heading .text {
  margin: 5px;
}

.roundedImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rounded {
  height: 30vh;
  width: 30vh;
  margin: 1.5rem;
  border-radius: 50%; 

}

.roundedBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roundedBox p{
  margin-left: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 
}

}



/* Media query escritorio */

@media only screen and (min-width: 1024px) { 

  /* Pagina empresa */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading .mainImage {
  width: 100vw;
  height: 300px;
  
}

.heading .text {
  margin: 5px;
}

.roundedImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rounded {
  height: 30vh;
  width: 30vh;
  margin: 1.5rem;
  border-radius: 50%; 

}

.roundedBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roundedBox p{
  margin-left: 1rem;
}



.heading .buscarRutas {
  
 color: var(--dark-brown);
 margin-top: 2rem;
 
}

}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */